h2{
    text-align: center;
}

.table_list {
    margin: auto;
    width: 950px;
}

#tr_top{
    background-color: orange;
    text-align: center;
}

#pageList{
    margin: auto;
    width: 1000px;
    text-align: center;
}